a{
	color: inherit;
	text-decoration: none;
}
.fa{
	color: #ffffff;
}
/* ______________ NAV _____________ */
header{
	background: #4d4d54;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1%;
}
header img{
	max-height: 60px;
	max-width: 177px;
	width: 18%;
}
header h1{
	color: #ffffff;
	text-transform: uppercase;
}
.weather{
	display: none;
}
.icons{
	display: flex;
}
.icons .fa {
	display: flex;
	justify-content: center;
	width: 40px;
}

/* ______________ MAIN _____________ */

main{
	background: url(../img/lauzanne_img.jpg) center 50% no-repeat;
	display: flex;
	min-height: 430px;
}
.socialNetwork{
	display: none;
}
main .btn a{
	background: rgba(23,23,23,0.6);
	color: #ffffff;
	padding: 1em 5%;
	margin: 1px;
	text-align: center;
	max-width: 370px;
	width: 80%;
}
main .btn a:hover{
	background: rgba(233,233,233,0.6);
	color: #232323;
}
.btn {
	display: flex;
	align-self:flex-end;
	flex-direction: column;
	align-items:center;
	width: 100%;
}
/* ______________ MEDIA QUERIES _____________ */

@media all and (min-width: 768px){
	/* ______________ NAV _____________ */
	.weather{
		color: white;
		display: flex;
		align-items: center;
	}
	.fa-cloud{
		border-right: 1px solid white;
	}
	.weather p {
		margin: 0 0 0 10%;
	}
	/* ______________ MAIN _____________ */
	main{
		min-height: 600px;
	}
	.socialNetwork{
		display: flex;
		flex-direction: column;
		align-self: center;
	}
	.socialNetwork .fa{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background: #2682c2;
	}
	.socialNetwork .fa:hover{
		background: #10435f;
		width: 179%;
	}
	.socialNetwork .fa:hover:before{
		margin: 0 auto;
	}
	.socialNetwork .fa:hover:after{
		margin: 0 auto;
	}
	.socialNetwork .fa-facebook:hover:after{
		content: "Facebook";
	}
	.socialNetwork .fa-twitter:hover:after{
		content: "Twitter";
	}
	.socialNetwork .fa-instagram:hover:after{
		content: "Instagram";
	}
	.socialNetwork .fa-pinterest:hover:after{
		content: "Pinterest";
	}
	.socialNetwork .fa-youtube:hover:after{
		content: "Youtube";
	}
	.socialNetwork .fa-linkedin:hover:after{
		content: "Linkedin";
	}
	.btn {
		flex-direction: row;
		margin-right: 40px;
		justify-content:center;
	}
	.btn a{
		max-width: 100%;
	}
}
